.card
  .card-body
    = simple_form_for(resource, url: dashboard_account_path) do |f|
      = f.input :platform_provider_name, collection: Account::PLATFORM_PROVIDERS.map(&:to_sym), as: :radio_buttons
      = f.input :call_flow_logic, collection: CallFlowLogic::Base.registered.map(&:to_sym), as: :radio_buttons
      = f.input :twilio_account_sid
      = f.input :twilio_auth_token
      = f.input :somleng_account_sid
      = f.input :somleng_auth_token
      .form-group.actions
        = f.button :submit, class: 'btn btn-primary'
