.col-md-6
  %h5#page_title.card-title
    = translate(:"titles.user_registrations.edit")
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch } do |f|
    = f.input :current_password
    = f.input :password
    = f.input :password_confirmation
    .form-group.actions
      = f.submit translate(:"titles.user_registrations.update"), class: 'btn btn-primary'
