%body
  %header.header.header-sticky.mb-4
    .container-fluid
      %button.header-toggler.px-md-0.me-md-3{data: { action: "sidebar#toggle" }, type: "button"}
        %i.fa-solid.fa-bars
      = link_to(dashboard_root_path, class: "header-brand d-lg-none header-brand-sm-up-center") do
        = t(:"titles.app_name")
      %ul.header-nav.mr-auto
      %ul.header-nav
        %li.nav-item.dropdown
          %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
            %i.fa-solid.fa-language.mfe-2
          .dropdown-menu.dropdown-menu-right.pt-0
            = button_to("ðŸ‡¬ðŸ‡§ English", dashboard_locale_path(user: { locale: "en" }), class: "dropdown-item", method: :patch)
            = button_to("ðŸ‡°ðŸ‡­ ážáŸ‚áŸ’áž˜ážš", dashboard_locale_path(user: { locale: "km" }), class: "dropdown-item", method: :patch)
        %li.nav-item.dropdown
          %a.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", href: "#", role: "button"}
            %i.fa-solid.fa-user.mfe-2
          .dropdown-menu.dropdown-menu-right.pt-0
            = link_to(edit_user_registration_path, class: "dropdown-item") do
              %i.fa-solid.fa-user-cog.mfe-2
              = translate(:"titles.user_registrations.edit")
            .dropdown-divider
            = button_to(destroy_user_session_path, class: "dropdown-item", method: :delete, form: { data: { turbo: false } }) do
              %i.fa-solid.fa-sign-out-alt.mfe-2
              = translate(:"titles.user_sessions.destroy")
