#sidebar.sidebar.sidebar-fixed{"data-sidebar-target" => "sidebar"}
  .sidebar-brand
    = link_to dashboard_root_path do
      = image_tag("scfm_logo.png", class: "sidebar-brand-full", height: 46)

  %ul.sidebar-nav{data: {simplebar: nil }}
    = sidebar_nav(translate(:"titles.callouts.index"), dashboard_callouts_path, icon_class: "fa-solid fa-bullhorn")
    = sidebar_nav(translate(:"titles.contacts.index"), dashboard_contacts_path, icon_class: "fa-solid fa-address-book")
    = sidebar_nav(translate(:"titles.phone_calls.index"), dashboard_phone_calls_path, icon_class: "fa-solid fa-phone-volume")
    = sidebar_nav(translate(:"titles.users.index"), dashboard_users_path, icon_class: "fa-solid fa-users")
    %li.nav-group{data: { coreui: :navigation }}
      %a.nav-link.nav-group-toggle{href: "#", data: {turbo: false}}
        %i.nav-icon.fa-solid.fa-laptop-code
        Developers
      %ul.nav-group-items
        = sidebar_nav(translate(:"titles.accounts.edit"), edit_dashboard_account_path, icon_class: "fa-solid fa-cog")
        = sidebar_nav(translate(:"titles.access_tokens.index"), dashboard_access_tokens_path, icon_class: "fa-solid fa-code")
