.col-12
.col-12.col-md-9.col-lg-7
  #resource.card
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          %code
            = resource.id
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = RemotePhoneCallEvent.human_attribute_name(:phone_call_id)
        %dd.col-sm-7.col-md-6
          = link_to(resource.phone_call_id, dashboard_phone_call_path(resource.phone_call_id))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = RemotePhoneCallEvent.human_attribute_name(:call_flow_logic)
        %dd.col-sm-7.col-md-6
          %code
            = translate("simple_form.options.defaults.call_flow_logic.#{resource.call_flow_logic}")
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = RemotePhoneCallEvent.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          %code
            = resource.created_at
      = render("shared/key_value_attributes", attribute: :details)
