= simple_form_for(@batch_operation, :url => url) do |f|
  = f.input(:type, collection: BatchOperation::Base::PERMITTED_API_TYPES.map(&:to_sym))
  = f.input()
  = f.label(:metadata)
  .js-metadata-container
    = f.simple_fields_for :metadata_forms do |hf|
      = render(partial: 'shared/metadata_fields', locals: { f: hf })
  = link_to_add_metadata_fields(translate(:"titles.actions.add_metadata"), f, 'shared/metadata_fields')
  %br
  .form-group.actions
    = f.submit translate(:"titles.batch_operations.create"), class: 'btn btn-primary'
    = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
