- content_for(:button_toolbar) do
  = render("shared/disabled_button", url: index_location, button_text: translate(:"titles.batch_operations.index"), count: resources.count)
  - if callout
    = link_to(translate(:"titles.actions.back"), dashboard_callout_path(callout), class: 'btn btn-outline-dark')
    = link_to(translate(:"titles.callout_populations.new"), new_dashboard_callout_batch_operation_callout_population_path(callout), class: 'btn btn-outline-success')

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: BatchOperation::Base, columns: [:type, :status, :created_at], partial: "shared/batch_operation")

= render("shared/index")
