= content_tag_for(:tr, access_token) do
  %td
    = access_token_counter + 1
  %td
    %code
      = access_token.token
  %td
    = access_token.created_at
  %td
    = link_to(translate(:"titles.actions.delete"), dashboard_access_token_path(access_token), class: "btn btn-outline-danger", method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })
