.container.devise-page
  .row
    .col-lg-4.offset-lg-4.col-md-6.offset-md-3.col-sm-8.offset-sm-2
      .card
        .card-body
          %h5#page_title.card-title
            = translate(:"titles.user_passwords.new")
          = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f|
            = f.input :email, input_html: { autofocus: true }
            .form-group.actions
              = f.submit translate(:"titles.user_passwords.create"), class: 'btn btn-primary'
          = render "devise/shared/links"
