#page_entries_info.col-12
  %h6
    = page_entries_info(resources)
.col-12{class: ("resources-filter" if content_for?(:resources_filter))}
  - if content_for?(:resources_filter)
    #filters.dropdown.show
      = link_to("#", class: "btn btn-info dropdown-toggle", role: :button, id: :filter_menu_link, data: {toggle: :dropdown}, :"aria-haspopup" => true, :"aria-expanded" => false) do
        = fa_icon(:filter)
      .dropdown-menu{:"aria-labelledby" => :filter_menu_link}
        = yield(:resources_filter)
  = yield(:resources_table)
.col-12
  = paginate(resources)
