%nav.navbar.navbar-dark.sticky-top.bg-dark.navbar-expand.p-0.justify-content-between
  .navbar-brand
    %button.btn.btn-dark.d-md-none{"aria-controls" => "side_navigation", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#side_navigation", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    = link_to t(:"titles.app_name"), dashboard_root_path

  %ul#top_nav.navbar-nav.px-3
    %li#language_menu.nav-item.dropdown
      %a#language_dropdown.nav-link.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}, "aria-haspopup" => true, "aria-expanded" => false}
        = fa_icon("language")
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "language_dropdown"}
        = link_to("English", dashboard_locale_path(current_user, user: { locale: "en" }), method: :patch, class: "dropdown-item")
        = link_to("ខែ្មរ", dashboard_locale_path(current_user, user: { locale: "km" }) , method: :patch, class: "dropdown-item")
    %li#user_menu.nav-item.dropdown
      %a#user_dropdown.nav-link.dropdown-toggle{href: "#", role: "button", data: {toggle: "dropdown"}, "aria-haspopup" => true, "aria-expanded" => false}
        = fa_icon("user")
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "user_dropdown"}
        - if current_user.is_admin?
          = link_to(translate(:"titles.accounts.edit"), edit_dashboard_account_path, class: "dropdown-item")
        = link_to(translate(:"titles.user_registrations.edit"), edit_user_registration_path, class: "dropdown-item")
        = link_to(translate(:"titles.user_sessions.destroy"), destroy_user_session_path, method: :delete, class: "dropdown-item")
