%nav#side_navigation.collapse.col-12.col-md-3.col-xl-2.bg-light.sidebar
  #accordion.sidebar-sticky
    #main_nav.card
      .card-body
        %ul.nav.flex-column
          = nav_link(translate(:"titles.callouts.index"), dashboard_callouts_path, 'callouts', current_user.account.callouts.running.count)
    - if current_user.is_admin?
      #admin_nav.card
        .card-header
          %h5.mb-0
            .btn.btn-default.text-muted
              = translate(:"titles.admin_management")
        .card-body
          %ul.nav.flex-column
            = nav_link(translate(:"titles.access_tokens.index"), dashboard_access_tokens_path, 'access_tokens', current_user.account.access_tokens.count)
            = nav_link(translate(:"titles.contacts.index"), dashboard_contacts_path, 'contacts', current_user.account.contacts.count)
            = nav_link(translate(:"titles.users.index"), dashboard_users_path, 'users', current_user.account.users.count)
