%nav#side_navigation.collapse.col-12.col-md-3.col-xl-2.bg-light.sidebar
  #accordion.sidebar-sticky
    #main_nav.card
      .card-body
        %ul.nav.flex-column
          %li.nav-item
            = nav_link(translate(:"titles.access_tokens.index"), dashboard_access_tokens_path, controller: "access_tokens", icon: :key)
          %li.nav-item
            = nav_link(translate(:"titles.batch_operations.index"), dashboard_batch_operations_path, controller: "batch_operations", icon: :tasks)
          %li.nav-item
            = nav_link(translate(:"titles.callouts.index"), dashboard_callouts_path, controller: "callouts", icon: :bullhorn)
          %li.nav-item
            = nav_link(translate(:"titles.callout_participations.index"), dashboard_callout_participations_path, controller: "callout_participations", icon: "list-ol")
          %li.nav-item
            = nav_link(translate(:"titles.contacts.index"), dashboard_contacts_path, controller: "contacts", icon: "address-book")
          %li.nav-item
            = nav_link(translate(:"titles.phone_calls.index"), dashboard_phone_calls_path, controller: "phone_calls", icon: "phone-volume")
          %li.nav-item
            = nav_link(translate(:"titles.remote_phone_call_events.index"), dashboard_remote_phone_call_events_path, controller: "remote_phone_call_events", icon: "info-circle")
          %li.nav-item
            = nav_link(translate(:"titles.users.index"), dashboard_users_path, controller: "users", icon: :users)
