.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
  .my-0.mr-md-auto.font-weight-normal
    = link_to root_path do
      %h5
        = translate(:"titles.app_name")
  %nav#top_nav.my-2.my-md-0.mr-md-3
    = link_to "About Us", "#", class: "p-2 text-dark"
    = link_to "Contact", "#", class: "p-2 text-dark"
    = link_to_if(user_signed_in?, "Dashboard", dashboard_root_path, class: "p-2 text-dark") do
      = link_to "Sign In", new_user_session_path, class: "p-2 text-dark"
= render 'shared/flash_messages'
.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  %h1.display-4 Simple Call Flow Manager For Somleng
  %p.lead Somleng Simple Call Flow Manager (Somleng SCFM) manages both inbound and outbound calls through Somleng and/or Twilio. Use it to create dynamic, customized and powerful call flows.
.container
