= content_tag_for(:tr, callout) do
  %td
    = link_to(callout.id, show_location(callout))
  %td
    = label_status(callout)
  %td
    %code
      = location_names(callout.province_id, Pumi::Province)
  %td
    = callout.created_at
