= content_tag_for(:tr, callout) do
  %td
    = link_to(callout.id, show_location(callout))
  %td
    = callout.status.humanize
  %td
    %code
      = location_names(callout.province_id, 'province')
  %td
    = callout.created_at
