= content_tag_for(:tr, callout, role: "row") do
  %td
    = link_to(callout.id, show_location(callout))
  %td
    = callout.status.humanize
  %td
    %code
      = translate("simple_form.options.defaults.call_flow_logic.#{callout.call_flow_logic}")
  %td
    = local_time(callout.created_at)
