.card
  .card-body
    = simple_form_for([:dashboard, resource]) do |f|
      = f.input :voice, as: :file, input_html: { direct_upload: true, accept: Callout::AUDIO_CONTENT_TYPES.join(", ") }
      = f.input :province_id, collection: [], prompt: true, required: true,
                wrapper_html: { id: 'province' },
                input_html: { class: 'js-select-province',
                  data: { default_value: f.object.province_id.to_s,
                    province_url: pumi.provinces_url,
                    pumi_district_collection_url: pumi.districts_url,
                    pumi_commune_collection_url: pumi.communes_url }}

      = f.input :commune_ids, collection: [], wrapper_html: { id: 'communes' },
                required: true, include_blank: false,
                input_html: { class: 'js-select-communes',
                  style: "width: 100%", multiple: 'multiple',
                  data: { default_value: f.object.commune_ids }}
      = f.input :call_flow_logic, collection: CallFlowLogic::Base.registered.map(&:to_sym), as: :select, disabled: true
      .form-group.actions
        = f.button :submit, class: 'btn btn-primary'
        = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
