= simple_form_for callout, url: url do |f|
  = f.hidden_field :id
  .card
    .card-body
      .h5.card-title Optional data
      .js-metadata-container
        = f.simple_fields_for :metadata_forms do |hf|
          = render partial: 'shared/metadata_fields', locals: { f: hf }
      = link_to_add_metadata_fields 'Add more', f, 'shared/metadata_fields'
  %br
  .form-group.actions
    = f.button :submit, class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-outline-dark'
