= show_for(callout_summary) do |f|
  = f.attribute :participations
  = f.attribute :participations_still_to_be_called
  = f.attribute :completed_calls
  = f.attribute :not_answered_calls
  = f.attribute :busy_calls
  = f.attribute :failed_calls
  = f.attribute :errored_calls
