.col-12.col-md-8
  %h5#page_title.card-title
    = translate(:"titles.callouts.index")

.col-12
  #button_toolbar.btn-toolbar{ role: "toolbar" }
    .btn-group.mr-2{ role: "group" }
      = link_to(translate(:"titles.callouts.new"), new_dashboard_callout_path, class: "btn btn-outline-dark", data: { turbolinks: false })
  %br
.col-12
  %table#callouts.table.table-hover.table-bordered
    %thead.thead-light
      %tr
        %th #
        %th
          = Callout.human_attribute_name(:status)
        %th
          = Callout.human_attribute_name(:created_at)
    %tbody
      - @callouts.each_with_index do |callout, i|
        = content_tag_for(:tr, callout) do
          %td
            = link_to(callout.id, dashboard_callout_path(callout))
          %td
            = callout.status.humanize
          %td
            = callout.created_at
.col-12
  = paginate @callouts
