- content_for(:page_actions) do
  - if resource.may_start?
    = link_to(translate(:"titles.callouts.start_callout"), dashboard_callout_callout_events_path(resource, event: :start),  class: 'btn btn-outline-success', method: :post, data: { confirm: translate(:"titles.actions.data_confirm") })
  - if resource.may_stop?
    = link_to(translate(:"titles.callouts.stop_callout"), dashboard_callout_callout_events_path(resource, event: :stop),  class: 'btn btn-outline-danger', method: :post, data: { confirm: translate(:"titles.actions.data_confirm") })
  - if resource.may_resume?
    = link_to(translate(:"titles.callouts.resume_callout"), dashboard_callout_callout_events_path(resource, event: :resume),  class: 'btn btn-outline-success', method: :post, data: { confirm: translate(:"titles.actions.data_confirm") })
  = link_to(translate(:"titles.actions.edit"), edit_dashboard_callout_path(resource), class: 'btn btn-outline-primary')
  = link_to(translate(:"titles.actions.delete"), dashboard_callout_path(resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })

- content_for(:related_links) do
  = related_link_to t(:"titles.batch_operations.index"), dashboard_callout_batch_operations_path(resource)
  = related_link_to t(:"titles.callout_participations.index"), dashboard_callout_callout_participations_path(resource)
  = related_link_to t(:"titles.phone_calls.index"), dashboard_callout_phone_calls_path(resource)

.col
  #callout.card
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          %code
            = resource.id
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:status)
        %dd.col-sm-7.col-md-6
          %code
            = resource.status.humanize
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:audio_file)
        %dd.col-sm-7.col-md-6
          - if resource.audio_file.attached?
            = link_to(resource.audio_file_blob.filename, url_for(resource.audio_file))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:audio_url)
        %dd.col-sm-7.col-md-6
          - if resource.audio_url.present?
            = link_to(resource.audio_url, resource.audio_url)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:call_flow_logic)
        %dd.col-sm-7.col-md-6
          %code
            = translate("simple_form.options.defaults.call_flow_logic.#{resource.call_flow_logic}")
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          %code
            = resource.created_at
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:created_by)
        %dd.col-sm-7.col-md-6
          - if resource.created_by_id?
            = link_to(resource.created_by_id, dashboard_user_path(resource.created_by_id))
      = render("shared/key_value_attributes", attribute: :settings)
      = render("shared/key_value_attributes", attribute: :metadata)

.col
  #callout_summary.card
    .card-body
      .card-title
        %h5
          = translate(:"titles.callouts.summary")
        %small
          = link_to do
            = fa_icon(:refresh, text: translate(:"titles.actions.refresh"))
      = render("summary")
