.col-12
  #button_toolbar
    = render("shared/disabled_button", url: dashboard_callout_path(resource), button_text: resource.model_name.human)
    - if resource.callout_population
      = render("shared/button_link", button_text: translate(:"titles.actions.preview"), url: dashboard_batch_operation_preview_contacts_path(resource.callout_population))
    - if current_user.is_admin?
      = render("shared/button_link", button_text: translate(:"titles.batch_operations.index"), url: dashboard_callout_batch_operations_path(resource))
      = render("shared/button_link", url: dashboard_callout_callout_participations_path(resource), button_text: translate(:"titles.callout_participations.index"))
      = render("shared/button_link", url: dashboard_callout_phone_calls_path(resource), button_text: translate(:"titles.phone_calls.index"))
    - if resource.may_start?
      = link_to(translate(:"titles.callouts.start_callout"), dashboard_callout_callout_events_path(resource, event: :start),  class: 'btn btn-outline-success', method: :post, data: { confirm: translate(:"titles.actions.data_confirm") })
    - if resource.may_stop?
      = link_to(translate(:"titles.callouts.stop_callout"), dashboard_callout_callout_events_path(resource, event: :stop),  class: 'btn btn-outline-danger', method: :post, data: { confirm: translate(:"titles.actions.data_confirm") })
    - if resource.may_resume?
      = link_to(translate(:"titles.callouts.resume_callout"), dashboard_callout_callout_events_path(resource, event: :resume),  class: 'btn btn-outline-success', method: :post, data: { confirm: translate(:"titles.actions.data_confirm") })
    = link_to(translate(:"titles.actions.edit"), edit_dashboard_callout_path(resource), class: 'btn btn-outline-primary')
    = link_to(translate(:"titles.actions.delete"), dashboard_callout_path(resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })
.col-lg-10.col-xl-8
  #callout.card
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          %code
            = resource.id
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:status)
        %dd.col-sm-7.col-md-6
          %code
            = resource.status.humanize
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:audio_file)
        %dd.col-sm-7.col-md-6
          - if resource.audio_file.attached?
            = link_to(resource.audio_file_blob.filename, url_for(resource.audio_file))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:audio_url)
        %dd.col-sm-7.col-md-6
          = link_to(resource.audio_url, url_for(resource.audio_url))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:province_id)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.province_id, Pumi::Province)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:commune_ids)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.commune_ids, Pumi::Commune)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:call_flow_logic)
        %dd.col-sm-7.col-md-6
          %code
            = t("simple_form.options.defaults.call_flow_logic.#{resource.call_flow_logic}")
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Callout.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          %code
            = resource.created_at
