= content_tag_for(:tr, sensor) do
  %td
    = link_to(sensor.id, show_location(sensor))
  %td
    %code
      = location_names(sensor.province_id, 'province')
  %td
    %code
      = sensor.sensor_rules.map(&:level).join(', ')
  %td
    = sensor.created_at
