= content_tag_for(:tr, sensor) do
  %td
    = link_to(sensor.id, show_location(sensor))
  %td
    %code
      = sensor.external_id
  %td
    %code
      = location_names(sensor.province_id, Pumi::Province)
  %td
    - if sensor.map_link
      = link_to(sensor.map_link, sensor.map_link)
  %td
    = sensor.created_at
