.col-12
  #button_toolbar.btn-toolbar.mb-3{ role: 'toolbar' }
    = render("shared/disabled_button", url: dashboard_sensor_path(resource), button_text: resource.model_name.human)
    .btn-group.mr-2{ role: 'group' }
      = render("shared/button_link", url: dashboard_sensor_sensor_rules_path(resource), button_text: translate(:"titles.sensor_rules.index"))
    .btn-group.mr-2{ role: 'group' }
      = render("shared/button_link", url: dashboard_sensor_sensor_events_path(resource), button_text: translate(:"titles.sensor_events.index"))
    .btn-group.mr-2{ role: 'group' }
      = link_to(translate(:"titles.actions.edit"), edit_dashboard_sensor_path(resource), class: 'btn btn-outline-primary')
    .btn-group.mr-2{ role: 'group' }
      = link_to(translate(:"titles.actions.delete"), dashboard_sensor_path(resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })
.col-lg-10.col-xl-8
  #sensor.card
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          %code
            = resource.id
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:external_id)
        %dd.col-sm-7.col-md-6
          %code
            = resource.external_id
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:latitude)
        %dd.col-sm-7.col-md-6
          %code
            = resource.latitude
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:longitude)
        %dd.col-sm-7.col-md-6
          %code
            = resource.longitude
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:map_link)
        %dd.col-sm-7.col-md-6
          - if resource.map_link.present?
            = link_to(resource.map_link, resource.map_link, target: "_blank")
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:province)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.province_id, Pumi::Province)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:commune_ids)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.commune_ids, Pumi::Commune)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Sensor.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          %code
            = resource.created_at
