.card
  .card-body
    = simple_form_for [:dashboard, resource] do |f|
      = f.input :email, input_html: { disabled: true }
      = f.input :roles, as: :radio_buttons, collection: User.values_for_roles, label_method: ->(r) { r.to_s.capitalize }, checked: f.object.roles
      = f.input :location_ids, collection: Pumi::Province.all, label_method: :name_en, value_method: :id, selected: f.object.location_ids, include_blank: false, label: 'Locations', input_html: { multiple: 'multiple', class: 'js-chosen-select' }
      .form-group.actions
        = f.submit translate(:"titles.users.update"), class: 'btn btn-primary'
        = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
