.col-12
  .col-12
    .btn-toolbar{ role: 'toolbar' }
      .btn-group.mr-2{ role: 'group' }
        = button_to 'Invite user', new_user_invitation_path, method: 'get', class: ' btn btn-outline-dark'
    %br

.col-12
  %table.table.table-hover.table-bordered
    %thead.thead-light
      %tr
        %th #
        %th Email
        %th Invitation accepted at
    %tbody
      - @users.each_with_index do |user, index|
        %tr
          %td= index + 1
          %td= link_to user.email, dashboard_user_path(user)
          %td= user.invitation_accepted_at
.col-12
  = paginate @users
