- content_for(:page_actions) do
  = link_to(translate(:"titles.actions.edit"), edit_dashboard_user_path(resource), class: 'btn btn-outline-primary')
  = link_to(translate(:"titles.actions.delete"), dashboard_user_path(resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })

.card-body
  - show_for(resource) do |f|
    = f.attribute :id
    = f.attribute :email
    = f.attribute :created_at, value: local_time(resource.created_at)
    = f.attribute :last_sign_in_at, value: local_time(resource.last_sign_in_at)
    = f.attribute :invitation_accepted_at, value: local_time(resource.invitation_accepted_at)
    = render("shared/key_value_attributes", attribute: :metadata)
