- content_for(:resources_table) do
  #filters.dropdown.show
    = link_to("#", class: "btn btn-info dropdown-toggle", role: :button, id: :filter_menu_link, data: {toggle: :dropdown}, :"aria-haspopup" => true, :"aria-expanded" => false) do
      = fa_icon(:filter)
    .dropdown-menu{:"aria-labelledby" => :filter_menu_link}
      = link_to(translate(:"filters.account_defaults.batch_operation_create_phone_calls_default_filter"), {:q => batch_operation_create_phone_calls_default_filter_params}.compact, class: "dropdown-item")
      = link_to(translate(:"filters.all"), {}, class: "dropdown-item")
  = render("shared/resources_table", resource_class: CalloutParticipation, columns: [:contact_id, :callout_id, :created_at])

= render("shared/index")
