= page_title(title: title) do
  = render("shared/destroy_resource_page_action", path: dashboard_callout_participation_path(resource))

  = render "shared/resource_related_links" do
    = related_link_to t(:"titles.phone_calls.index"), dashboard_callout_participation_phone_calls_path(resource)

.card-body
  = show_for(resource) do |f|
    = f.attribute :id
    = f.attribute :callout do
      = link_to(resource.callout_id, dashboard_callout_path(resource.callout_id))
    = f.attribute :contact do
      = link_to(resource.contact_id, dashboard_contact_path(resource.contact_id))
    = f.attribute :callout_population do
      - if resource.callout_population_id.present?
        = link_to(resource.callout_population_id, dashboard_batch_operation_path(resource.callout_population_id))
    = f.attribute :call_flow_logic, value: translate("simple_form.options.defaults.call_flow_logic.#{resource.call_flow_logic}")
    = f.attribute :created_at, value: local_time(resource.created_at)
    = f.attribute :metadata do
      %pre
        %code= JSON.pretty_generate(resource.metadata)
