.col
  #button_toolbar.btn-toolbar.mb-2{ role: 'toolbar' }
    = render("shared/disabled_button", url: new_user_invitation_path, button_text: translate(:"titles.user_invitations.new"), button_class: "btn-outline-success")
.col
  .card
    .card-body
      = simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post}) do |f|
        - resource.class.invite_key_fields.each do |field|
          = f.input field
          = f.input :roles, as: :radio_buttons, collection: User.values_for_roles, label_method: ->(r) { r.to_s.capitalize }, checked: f.object.roles
          = f.input :location_ids, collection: Pumi::Province.all, label_method: :name_en, value_method: :id, selected: f.object.location_ids, include_blank: false, input_html: { multiple: 'multiple', class: 'js-chosen-select' }
        .form-group.actions
          = f.submit translate(:"titles.user_invitations.create"), class: 'btn btn-primary'
          = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
