.col-md-6
  .card
    .card-body
      = simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post}) do |f|
        - resource.class.invite_key_fields.each do |field|
          = f.input field
          = f.input :roles, as: :radio_buttons, collection: User.values_for_roles, label_method: ->(r) { r.to_s.capitalize }, checked: f.object.roles
          = f.input :location_ids, collection: [], wrapper_html: { id: 'locations' }, input_html: { multiple: 'multiple', class: 'js-pumi-selectize', data: { default_value: f.object.location_ids, pumi_url: pumi.provinces_url }}
        .form-group.actions
          = f.button :submit, class: 'btn btn-primary'
          = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
