- content_for(:button_toolbar) do
  = render("shared/button_to_index", url: dashboard_callout_callout_populations_path(callout), button_text: translate(:"titles.callout_populations.index"), count: resources.count)
  .btn-group.mr-2{ role: 'group' }
    = link_to(translate(:"titles.actions.back"), dashboard_callout_path(callout), class: 'btn btn-outline-dark')
  .btn-group.mr-2{ role: 'group' }
    = link_to(translate(:"titles.callout_populations.new"), new_dashboard_callout_callout_population_path(callout), class: 'btn btn-outline-success')

- content_for(:resources_table) do
  = render("shared/resources_table", resource_class: BatchOperation::CalloutPopulation, columns: [:status, :created_at], partial: "callout_population")

= render("shared/index")
