.col-12
  #button_toolbar.btn-toolbar{ role: 'toolbar' }
    .btn-group.mr-2{ role: 'group' }
      = render("shared/button_with_count", button_text: translate(:"titles.actions.preview"), url: dashboard_batch_operation_preview_contacts_path(resource), count: resource.contacts_preview.count)
    .btn-group.mr-2{ role: 'group' }
      = link_to(translate(:"titles.actions.edit"), edit_dashboard_callout_callout_population_path(callout, resource), class: 'btn btn-outline-primary')
    .btn-group.mr-2{ role: 'group' }
      = link_to(translate(:"titles.actions.delete"), dashboard_callout_callout_population_path(callout, resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })
  %br
.col-lg-8.col-sm-12
  #resource.card
    .card-header
      = link_to(resource.class.model_name.human + " ##{resource.id}", dashboard_callout_callout_population_path(callout, resource))
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          = link_to(resource.id, show_location(resource))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = resource.class.human_attribute_name(:callout)
        %dd.col-sm-7.col-md-6
          = link_to(callout.id, dashboard_callout_path(callout))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = resource.class.human_attribute_name(:status)
        %dd.col-sm-7.col-md-6
          = resource.status.humanize
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = resource.class.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          = resource.created_at
      = render("shared/key_value_attributes", attribute: :contact_filter_metadata)
