.card
  .card-body
    = simple_form_for [:dashboard, resource] do |f|
      = f.input :msisdn, input_html: { autofocus: true }
      .form-group.actions
        = f.submit translate(:"titles.contacts.#{action}"), class: 'btn btn-primary'
        = link_to(translate(:"titles.actions.cancel"), :back, class: 'btn btn-outline-dark')
