.col-12.col-md-8
  %h5#page_title.card-title
    = translate(:"titles.contacts.index")

.col-12
  #button_toolbar.btn-toolbar{ role: 'toolbar' }
    .btn-group.mr-2{ role: 'group' }
      = link_to(translate(:"titles.contacts.new"), new_dashboard_contact_path, class: 'btn btn-outline-dark')
  %br
.col-12
  %table#contacts.table.table-hover.table-bordered
    %thead.thead-light
      %tr
        %th #
        %th
          = Contact.human_attribute_name(:msisdn)
        %th
          = Contact.human_attribute_name(:created_at)
    %tbody
      - @contacts.each_with_index do |contact, index|
        = content_tag_for(:tr, contact) do
          %td
            = link_to(contact.id, dashboard_contact_path(contact))
          %td
            = contact.msisdn
          %td
            = contact.created_at
.col-12
  = paginate @contacts
