= page_title(title: title)

- content_for(:page_actions) do
  = link_to(translate(:"titles.actions.edit"), edit_dashboard_contact_path(resource), class: 'btn btn-outline-primary')
  = link_to(translate(:"titles.actions.delete"), dashboard_contact_path(resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })

- content_for(:related_links) do
  = related_link_to t(:"titles.callout_participations.index"), dashboard_contact_callout_participations_path(resource)
  = related_link_to t(:"titles.phone_calls.index"), dashboard_contact_phone_calls_path(resource)

.card-body
  = show_for(resource) do |f|
    = f.attribute :id
    = f.attribute :msisdn
    = f.attribute :created_at, value: local_time(resource.created_at)
    = f.attribute :metadata do
      %pre
        %code= JSON.pretty_generate(resource.metadata)
