.col
  #button_toolbar.btn-toolbar.mb-3{ role: 'toolbar' }
    = render("shared/disabled_button", url: dashboard_contact_path(resource), button_text: resource.model_name.human)
    - if current_user.is_admin?
      .btn-group.mr-2{ role: 'group' }
        = render("shared/button_link", url: dashboard_contact_callout_participations_path(resource), button_text: translate(:"titles.callout_participations.index"))
      .btn-group.mr-2{ role: 'group' }
        = render("shared/button_link", url: dashboard_contact_phone_calls_path(resource), button_text: translate(:"titles.phone_calls.index"))
      .btn-group.mr-2{ role: 'group' }
        = link_to(translate(:"titles.actions.edit"), edit_dashboard_contact_path(resource), class: 'btn btn-outline-primary')
      .btn-group.mr-2{ role: 'group' }
        = link_to(translate(:"titles.actions.delete"), dashboard_contact_path(resource), class: 'btn btn-outline-danger', method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })
.col-lg-10.col-xl-8
  #contact.card
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          %code
            = resource.id
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:msisdn)
        %dd.col-sm-7.col-md-6
          %code
            = resource.msisdn
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:province_id)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.province_id, Pumi::Province)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:district_id)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.district_id, Pumi::District)
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:commune_id)
        %dd.col-sm-7.col-md-6
          %code
            = location_names(resource.commune_id, Pumi::Commune)

      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          %code
            = resource.created_at
