.col-12
  #button_toolbar.btn-toolbar{ role: "toolbar" }
    - if current_user.is_admin?
      .btn-group.mr-2{ role: "group" }
        = link_to(translate(:"titles.actions.edit"), edit_dashboard_contact_path(@contact), class: "btn btn-outline-primary")
      .btn-group.mr-2{ role: "group" }
        = link_to(translate(:"titles.actions.delete"), dashboard_contact_path(@contact), class: "btn btn-outline-danger", method: :delete, data: { confirm: translate(:"titles.actions.data_confirm") })
  %br
.col-lg-8.col-sm-12
  = div_for(@contact, class: "card") do
    .card-header
      = link_to(Contact.model_name.human + " ##{@contact.id}", dashboard_contact_path(@contact))
    .card-body
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right #
        %dd.col-sm-7.col-md-6
          = link_to(@contact.id, dashboard_contact_path(@contact))
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:msisdn)
        %dd.col-sm-7.col-md-6
          = @contact.msisdn
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:province_id)
        %dd.col-sm-7.col-md-6
          = @commune.province.name_en
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:district_id)
        %dd.col-sm-7.col-md-6
          = @commune.district.name_en
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:commune_id)
        %dd.col-sm-7.col-md-6
          = @commune.name_en
      %dl.row
        %dt.col-sm-5.col-md-4.text-md-right
          = Contact.human_attribute_name(:created_at)
        %dd.col-sm-7.col-md-6
          = @contact.created_at
