!!!
%html{:lang => "en"}
  %head
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = content_tag :body, data: { action: action_name, controller: controller_name } do
    = render 'shared/flash_messages'
    = yield
