!!!
%html{lang: current_user.locale}
  %head
    = csrf_meta_tags
    = favicon_link_tag
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    %title= title(resource)
  = content_tag :body, data: { action: action_name, controller: "sidebar" } do
    = render("layouts/dashboard/side_navigation")
    .wrapper
      = render("layouts/dashboard/header")
      .body
        .container-lg
          = render("shared/alerts")
          .card
            = yield
